<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSDiputadoSoap"/>
      </basicHttpBinding>      
    </bindings>
    <client>
      <endpoint address="http://opendata.camara.cl/camaradiputados/WServices/WSDiputado.asmx" binding="basicHttpBinding" bindingConfiguration="WSDiputadoSoap" contract="camara_diputado.WSDiputadoSoap" name="WSDiputadoSoap"/>      
    </client>
  </system.serviceModel>
</configuration>